@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	-webkit-overflow-scrolling: touch;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
*,
*:after,
*::before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
::selection {
	background: #A6D5FA;
	color: #0064bb;
}
html,
body {
	width: 100%;
	min-height: 100vh; // fallback if dvh is not supported
	min-height: 100dvh;
	overflow-x: hidden;
}
body {
	position: relative;
	min-height: 100%;
	overflow-x: hidden;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
	font-style: normal;
	font-family: "Verdana", "sans-serif", "Arial";
	font-size: 16px;
	line-height: 1.5;
	margin: 0;
	padding: 0;
	isolation: isolate;
	-webkit-font-smoothing: antialiased;
}

.section {
	position: relative;
	margin-top: 70px;
	&:first-of-type {
		margin-top: -3em;
	}
}

p,
small,
h1,
h2,
h3,
h4,
h5,
h6 {
	letter-spacing: 0.4px;
}

p {
	line-height: 1.75;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: inherit;
	margin: 0 0 0.625rem 0;
}

hr {
	background: hsl(var(--nextui-gray-200, 240 6% 90%));
	border: none;
	height: 2px;
}




