// Bootstrap grays:
$white:		#fff;
$gray-100:	#F9F9F9;	// Default: #F8F9FA
$gray-200:	#ECECEC;	// Default: #E9ECEF
$gray-300:	#E1E1E1;	// Default: #DEE2E6
$gray-400:	#D3D3D3;	// Default: #CED4DA
$gray-500:	#B4B4B4;	// Default: #ADB5BD
$gray-600:	#747474;	// Default: #6C757D
$gray-700:	#4F4F4F;	// Default: #495057
$gray-800:	#393939;	// Default: #343A40
$gray-900:	#242424;	// Default: #212529
$black:		#000;

// Bootstrap colors:
$blue:		#0088FF;	// Default: #007bff;
$indigo:	#6610f2;		// Default: #6610f2;
$purple:	#CA00EF;	// Default: #6f42c1;
$pink:		#e83e8c;		// Default: #e83e8c;
$red:		#F44D3E;	// Default: #dc3545;
$orange:	#FF6B29;	// Default: #fd7e14;
$yellow:	#F3B929;	// Default: #ffc107;
$green:		#00C852;	// Default: #28a745;
$teal:		#20c997;		// Default: #20c997;
$cyan:		#17a2b8;		// Default: #17a2b8;

// Custom colors:
$brown:		#CDA16C;

// Bootstrap theme colors:
$primary:	$blue;		// Default: #007bff
$secondary:	$gray-700;	// Default: #6c757d (old was #747374)
$tertiary:	$gray-600;	// Custom theme color
$success:	$green;		// Default: #28a745
$danger:	$red;		// Default: #dc3545
$warning:	$yellow;	// Default: #ffc107
$info:		$brown;		// Default: #17a2b8
$light:		$gray-100;	// Default: #f8f9fa | equal to gray-100
$dark:		$gray-800;	// Default: #343a40 | equal to gray-800

// Brand colors:
$brand: $primary;
$brand-darker: darken($brand, 10%);
$brand-darker2: darken($brand, 20%);
$brand-lighter: lighten($brand, 10%);
$brand-brighter: saturate(lighten($brand, 10%), 25%);

$color-names: "primary", "secondary", "info", "success", "danger", "warning", "light", "dark", "gray-100", "gray-200", "gray-300", "gray-400", "gray-500", "gray-600", "gray-700", "gray-800", "gray-900", "blue", "orange", "green", "yellow", "red", "brown", "purple", "cyan", "black", "white";
$btn-types: "primary", "secondary", "tertiary", "info", "success", "danger", "warning", "light", "dark";
$color-map: (  // This map can be used to reference colors dynamically by their name
	"white": $white,
	"gray-100": $gray-100,
	"gray-200": $gray-200,
	"gray-300": $gray-300,
	"gray-400": $gray-400,
	"gray-500": $gray-500,
	"gray-600": $gray-600,
	"gray-700": $gray-700,
	"gray-800": $gray-800,
	"gray-900": $gray-900,
	"black": $black,

	"primary": $primary,
	"secondary": $secondary,
	"tertiary": $tertiary,
	"info": $info,
	"success": $success,
	"danger": $danger,
	"warning": $warning,
	"light": $light,
	"dark": $dark,

	"blue": $blue,
	"purple": $purple,
	"red": $red,
	"orange": $orange,
	"yellow": $yellow,
	"green": $green,
	"cyan": $cyan,
	"brown": $brown,

	"brand": $brand
);
